{
	"semi": false,
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 2,
	"eslintIntergration": true,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
